body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #73a5ff, #5477f5);
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather-app {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 70%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
  font-size: 16px;
}

.search-bar button {
  width: 30%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 16px;
}

.search-bar button i {
  color: white;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
}

.weather-info h2 {
  font-size: 24px;
  margin: 10px 0;
}

.weather-info p {
  margin: 5px 0;
  font-size: 18px;
}

.weather-info img {
  margin-top: 15px;
}
